# Node.js and build artifacts
**/node_modules/
**/dist/
**/build/
**/.wrangler/
**/.env
**/.cache
*.tsbuildinfo

# MacOS + VS Code
.DS_Store
.vscode/

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.*.json

# Coverage
coverage/
.nyc_output/
*.lcov

# Diagnostic and runtime
*.pid
*.seed
*.pid.lock
pids/
.node_repl_history

# Testing & packaging
*.tgz
.vscode-test/
test-fetch.js

# Misc caches
.npm/
.yarn/
.yarn-integrity
.pnp.*
.eslintcache
.stylelintcache

# Build tools
.rpt2_cache/
.rts2_cache_*/
.lib-cov/
.parcel-cache/
.serverless/
.docusaurus/
.vuepress/dist
.nuxt/
.next/
.temp/
.fusebox/
.dynamodb/
.web_modules/
.bower_components/
.lock-wscript
.dev.vars
#specific adds
/pages/dbadmin/env.js
.env.local

